:root {
    --contents-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --logo-first-color: #2196f3;
    --logo-header-sec: #000000;
    --logo-footer-sec: #ffffff;
    --header-bcg: #ffffff;
    --footer-bcg: #2f303a;
    --basic-bcg: #ffffff;
    --team-bcg: #f5f4fa;
    --button-color: #212121;
    --button-active-color: #2196f3;
    --button-portfolio-bcg: #f5f4fa;
    --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: 'Roboto', sans-serif;

    color: var(--contents-color);
}
.header {
    border-bottom: 1px solid #ececec;

    background-color: var(--header-bcg);
}

/* Лого */
.logo,
.logo:focus {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1em;

    color: var(--accent-color);
}
.header__logo--black {
    color: var(--logo-header-sec);
}
.footer__logo--white {
    color: var(--logo-footer-sec);
}
/* Шапка */
.header--flex,
.site-nav {
    display: flex;
}
.site-nav__list {
    display: flex;
    align-items: center;
    margin-left: 93px;
}
.site-nav__item:not(:last-child) {
    margin-right: 50px;
}
.header__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__icon {
    margin-right: 10px;
    fill: currentColor;
}
.header__link--flex,
.site-nav__link--flex {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.site-nav__link {
    transition: color var(--hover-animation);

    color: var(--title-color);
}

.site-nav__link--current {
    color: var(--accent-color);
}
.site-nav__item {
    position: relative;
}
.site-nav__link--current::after {
    position: absolute;
    content: '';
    width: 100%;
    border: solid #2196f3;
    border-radius: 2px;
    bottom: 0;
}

.site-nav,
.site-nav__link:focus,
.site-nav__link:hover {
    color: var(--accent-color);
}

/* Контакты шапки */

.header__link {
    transition: color var(--hover-animation);

    color: var(--contents-color);
}

.header__contacts,
.header__link:hover,
.header__link:focus {
    color: var(--accent-color);
}

/* Герой */
.hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;

    background-color: #2f303a;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero__title {
    margin: 0 auto;
    margin-bottom: 30px;

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 650px;
    text-align: center;
}

/* Преимущества */
.advantage--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: #f5f4fa;
}
.advantage__icon {
    width: 70px;
    height: 70px;
}
.advantage {
    padding-bottom: 0;

    background-color: #ffffff;
}
.advantage__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-color);
}
.advantage__list {
    display: flex;
    justify-content: space-between;
}
.advantage__item {
    width: 270px;
    margin-right: 30px;
}
.advantage__item:last-child {
    margin-right: 0;
}

.advantage__discription {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* Специфика работы */
.example__list {
    display: flex;
}

.example__item:not(:last-child) {
    margin-right: 30px;
}
.img--conteiner {
    position: relative;
    width: 370px;
    height: 294px;
}
.img__title {
    position: absolute;
    padding-top: 27px;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}
/* Наша команда */
.section--bgc {
    background-color: #f5f4fa;
}
.team__title,
.example__title,
.clients__title {
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}
.team__name {
    padding-top: 30px;
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}
.team__post {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.social {
    margin: 16px 32px 30px 32px;
}
.social__list {
    display: flex;
    justify-content: space-between;
}
.social__item {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    fill: #afb1b8;

    transition: background-color var(--hover-animation),
        fill var(--hover-animation), border-radius var(--hover-animation);
}
.social__icon {
    width: 20px;
    height: 20px;
}
.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
    fill: #ffffff;
}

.team__list {
    display: flex;
    justify-content: space-between;
}
.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}
.team__item:last-child {
    margin-right: 0;
}
/* Клиенты */
.clients__list {
    display: flex;
}
.clients__item {
    display: flex;

    width: 170px;
    height: 92px;
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    color: #afb1b8;

    transition: color var(--hover-animation);
}
.clients__icon {
    display: flex;
    width: 106p;
    height: 60px;
    fill: currentColor;
}
.clients__item + .clients__item {
    margin-left: 30px;
}
.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
}

/* Подвал */
.footer {
    background-color: var(--footer-bcg);
}
.footer--flex {
    display: flex;
}
.logo__footer {
    display: block;

    padding-top: 60px;
    padding-bottom: 20px;
}
.address__list {
    padding-bottom: 60px;
}
.address__map {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #ffffff;

    transition: color var(--hover-animation);
}
.address__map:hover,
.address__map:focus {
    color: var(--accent-color);
}
.address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #ffffff99;

    transition: color var(--hover-animation);
}
.address__link:focus,
.address__link:hover {
    color: var(--accent-color);
}

.address__item:not(:last-child) {
    padding-bottom: 9px;
}
.footer-social--conteiner {
    margin-top: 72px;
    margin-left: 70px;
}
.footer-social__title,
.footer__title {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}
.footer-social__list {
    display: flex;
}
.footer-social__icon {
    display: flex;
    width: 20px;
    height: 20px;

    fill: #ffffff;
}
.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    transition: background-color var(--hover-animation);
}
.footer-social__item {
    border-radius: 50%;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
}
.footer-social__item:not(:last-child) {
    margin-right: 10px;
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--accent-color);
}
/* -------Подписка-------- */
.subscribe--conteiner {
    display: flex;
    margin-top: 72px;
    margin-left: auto;
}
.subscribe__title {
    display: flex;
}
.subscribe__email {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    color: #ffffff;
}
.subscribe__button {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding-right: 29px;

    background: #2196f3;
    color: #ffffff;
    border-radius: 4px;

    transition: background-color var(--hover-animation),
        box-shadow var(--hover-animation);
}
.subscribe__icon {
    position: absolute;
    top: 50%;
    right: 28px;

    transform: translateY(-50%);
}
.subscribe__button:hover,
.subscribe__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Портфолио */
.portfolio {
    background-color: var(--basic-bcg);
}
.button__title {
    padding: 6px 22px;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    color: var(--button-color);
    background-color: var(--button-portfolio-bcg);

    transition: color var(--hover-animation),
        background-color var(--hover-animation),
        box-shadow var(--hover-animation);
}

.button__title:hover,
.button__title:focus {
    color: #ffffff;
    background-color: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button__item {
    margin-right: 8px;
}
.button__list {
    display: flex;
    justify-content: center;
}
.button__list--padding {
    padding-bottom: 50px;
}
.overlay {
    position: relative;
    overflow: hidden;
}

.overlay__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    min-height: 100%;
    height: calc(100%-30px);
    overflow-y: auto;

    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: var(--animation);
}
.filters__list {
    display: flex;
    flex-wrap: wrap;
}
.filters__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    outline: 1px solid #eeeeee;
}
.filters__link:hover .overlay-text,
.filters__link:hover {
    transform: translateY(0);
}
.filters__item:nth-child(3n) {
    margin-right: 0;
}
.filters__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.filters__title {
    padding: 20px 24px 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
}
.filters__type {
    padding: 0 24px 20px;

    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.filters__link {
    display: block;

    transition: box-shadow var(--hover-animation);
}
.filters__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Кнопки */
.button {
    border-radius: 4px;

    font-family: inherit;
    font-weight: 700;
    min-width: 200px;
    height: 50px;

    color: #ffffff;
    background-color: var(--button-active-color);
}
.button-hero {
    display: block;
    padding: 10px 32px;
    margin: 0 auto;

    background-image: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--hover-animation),
        box-shadow var(--hover-animation);
}
.button-hero:hover,
.button-hero:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding: 94px 0;
}

/* -------Модальное окно---------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);

    transition: var(--animation), visibility var(--hover-animation);
}
/* .modal {
    transform: translate(-50%, -50%) scale(1.1);
} */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    width: calc(100% - 30px);
    max-height: 581px;
    height: calc(100% - 30px);
    padding: 40px;
    border-radius: 4px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--hover-animation);
}
.modal__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: #ffffff;
}
.modal__icon {
    transition: fill var(--hover-animation);
}
.modal__button:hover,
.modal__button:focus .close-icon {
    fill: var(--accent-color);
}
.form {
    position: absolute;
    margin: 0 auto;
}
.form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}
.form__field {
    display: flex;
    flex-direction: column;
}

.form__field--margin {
    margin-bottom: 10px;
}

.form__conteiner {
    position: relative;
}
.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);
    transition: fill var(--hover-animation);
}
.form__field:focus-within .form__icon {
    fill: var(--accent-color);
}
.form__input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    margin: 0;

    padding: 12px 0 12px 42px;

    border: 1px solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--hover-animation);
}
.form__field:focus-within .form__input {
    border-color: var(--accent-color);
}
.form__label {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}
.form__textarea {
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;

    border: 1px solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    background-color: transparent;

    transition: border-color var(--hover-animation);
}
.form__field:focus-within .form__textarea {
    border-color: var(--accent-color);
}
.textarea::placeholder {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
.deal {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: auto;
    margin-bottom: 30px;

    cursor: pointer;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.deal__conditions {
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    margin-left: 5px;

    color: #2196f3;
}
.deal__check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.deal__icon {
    display: flex;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 2px;
    margin-right: 7px;

    transition: background-color var(--hover-animation),
        border-color var(--hover-animation);
}

.deal__check:focus + .deal__icon,
.deal__check:checked + .deal__icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 2px;
}
.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background: #2196f3;

    transition: background-color var(--hover-animation),
        box-shadow var(--hover-animation);
}
.form__button:hover,
.form__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
